extends ../layout

block content
  .container
    .row
      table.table.table-striped
        thead.thead-dark
          tr
            th(scope="col") 编号
            th(scope="col") 电影名字
            th(scope="col") 导演
            th(scope="col") 国家
            th(scope="col") 上映年代
            th(scope="col") 录入时间
            th(scope="col" colspan="3" align="center") 操作
        tbody
          each item in movies
            tr(class='item-id-' + item.id)
              td(scope="row") #{movies.indexOf(item) + 1}
              td #{item.title}
              td #{item.director}
              td #{item.country}
              td #{item.year}
              td #{moment(item.meta.updatedTime).format('MM/DD/YYYY')}
              td
                button.btn.btn-raised.btn-success: a(target="blank" href='/movie/'+item.id) 查看
              td
                button.btn.btn-raised.btn-info: a(target="_self" href='/admin/update/'+item.id) 修改
              td
                button.btn.btn-raised.btn-danger.del(type="button" data-id=item.id) 删除

          tr
            td(colspan="8")
            td
              button.btn.btn-raised.btn-success#create
                a(href="/admin/create") 增加
  script(src="./scripts/admin.js")